@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Hi+Melody&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gowun Dodum";
  height: 100vh;
  margin: 0;
}

/* .App {
  font-family: "Gowun Dodum", sans-serif;
  font-family: "Hi Melody", cursive;
} */

#root {
  height: 100%;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  padding: 0 20px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

/* my button */

.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Gowun Dodum";
  white-space: nowrap;
}

.MyButton_default {
  background-color: #ececec;
  color: black;
}
.MyButton_positive {
  background-color: #64c964;
  color: white;
}
.MyButton_negative {
  background-color: #fd565d;
  color: white;
}

header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

.DiaryList .menu_wrapper {
  display: flex;
  justify-content: space-between;

  margin: 20px 0;
}

.DiaryList .menu_wrapper .right_col {
  flex-grow: 1; /* 남은 영역을 전부 다 갖게 된다 */
  /* width: 100%; */
}

.DiaryList .menu_wrapper .right_col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #ececec;
  cursor: pointer;
  font-family: "Gowun Dodum";
  font-size: 18px;
}

.DiaryItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
}

.DiaryItem > div:not(:last-child) {
  margin-right: 20px;
}

.DiaryItem .emotion_img_wrapper {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 80px;
  border-radius: 5px;
  cursor: pointer;
}

.DiaryItem .emotion_img_wrapper_1 {
  background-color: #64c964;
}

.DiaryItem .emotion_img_wrapper_2 {
  background-color: #9dd772;
}

.DiaryItem .emotion_img_wrapper_3 {
  background-color: #fdce17;
}

.DiaryItem .emotion_img_wrapper_4 {
  background-color: #fd8446;
}

.DiaryItem .emotion_img_wrapper_5 {
  background-color: #fd565f;
}

.DiaryItem .emotion_img_wrapper img {
  width: 60%;
}

.DiaryItem .info_wrapper {
  flex-grow: 1;
  padding: 5px;
  cursor: pointer;
  width: 50%;
}

.DiaryItem .diary_content_preview {
  font-size: 18px;
}

.DiaryItem .btn_wrapper {
  min-width: 70px;
}

.DiaryEditor > div:not(:last-child) {
  margin-top: 20px;
  margin-bottom: 30px;
}

.DiaryEditor .small_title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.DiaryEditor .date {
  font-family: "Gowun Dodum";
  /* font-size: 14px; */
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 10px 15px;
  cursor: pointer;
}

.DiaryEditor .emotion_list {
  display: flex;
}

.DiaryEditor .emotion_list > div:not(:last-child) {
  margin-right: 10px;
}

.DiaryEditor .newContent {
  width: 100%;
  min-height: 150px;
  font-family: "Gowun Dodum";
  background-color: #ececec;
  border: none;
  border-radius: 5px;
  padding: 15px;
  resize: none;
}

.DiaryEditor .btns {
  display: flex;
  justify-content: space-between;
}

.EmotionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #ececec;
  padding: 20px;
  cursor: pointer;
}

.EmotionItem .emotion_img {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.EmotionItem img {
  width: 80%;
}

.EmotionItem.isSelected_emotion1 {
  font-weight: 700;
  color: white;
  background-color: #64c964;
}

.EmotionItem.isSelected_emotion2 {
  font-weight: 700;
  color: white;
  background-color: #9dd772;
}

.EmotionItem.isSelected_emotion3 {
  font-weight: 700;
  color: white;
  background-color: #fdce17;
}

.EmotionItem.isSelected_emotion4 {
  font-weight: 700;
  color: white;
  background-color: #fd8446;
}

.EmotionItem.isSelected_emotion5 {
  font-weight: 700;
  color: white;
  background-color: #fd565f;
}

/* DiaryPage */

.DiaryPage section {
  width: 100%;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

.DiaryPage .diary_img_wrapper {
  background-color: #ececec;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
}

.DiaryPage .diary_img_wrapper_1 {
  background-color: #64c964;
}

.DiaryPage .diary_img_wrapper_2 {
  background-color: #9dd772;
}

.DiaryPage .diary_img_wrapper_3 {
  background-color: #fdce17;
}

.DiaryPage .diary_img_wrapper_4 {
  background-color: #fd8446;
}

.DiaryPage .diary_img_wrapper_5 {
  background-color: #fd565f;
}

.DiaryPage .emotion_description {
  font-size: 25px;
  color: #ffffff;
}

.DiaryPage .diary_content_wrapper {
  width: 100%;
  background-color: #ececec;
  border-radius: 5px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.DiaryPage .diary_content_wrapper p {
  padding: 20px;
  text-align: left;
  font-size: 20px;
}



